<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Domyślny tytuł{% endblock %}</title>

    <!-- CSS wspólny dla wszystkich stron -->
    <link rel="stylesheet" href="/static/css/style.css" />

    {% block extra_css %}
    <!-- tutaj podstrona może dołożyć własne style -->
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
    <header>
        <h1>Moja strona</h1>
        <!-- nawigacja, itp -->
    </header>

    <main>
        {% block content %}
        <!-- tutaj zawartość podstrony -->
        {% endblock %}
    </main>

    <footer>
        &copy; 2025 Moja Firma
    </footer>
</body>
</html>