<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Domyślny tytuł{% endblock %}</title>

    <!-- CSS wspólny dla wszystkich stron -->
    <link rel="stylesheet" href="/static/css/style.css" />

    {% block extra_css %}
    <!-- tutaj podstrona może dołożyć własne style -->
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body data-roles='{{ roles | tojson | safe }}'>
    <header>
        <h1>{% block header %}
            {% endblock %}
        </h1>
        <nav>
            <ul class="nav-list">
            <li><a href="/" class="nav-link">Strona główna</a></li>
            <li><a href="/upload" class="nav-link">Upload</a></li>
            <li><a href="/archive" class="nav-link">Archiwum</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- tutaj zawartość podstrony -->
        {% endblock %}
    </main>

    <footer>
        &copy; 2025 Moja Firma
    </footer>
</body>
</html>