{% extends "layout.html" %}

{% block title %}Galeria - Event Gallery{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="static/css/files_preview.css">
{% endblock %}

{% block header %}
  Udostępnij media
{% endblock %}

{% block content %}
  <div id="container" class="upload-container">
    <h2>Formularz przesyłania mediów</h2>
    <form action="/upload-media" method="post" enctype="multipart/form-data">
        <label for="name">Imię i nazwisko</label>
        <input id="name" autocomplete="off" title="name" type="text" name="name" required>
        <label for="files">Wybierz obrazki:</label>
        <input id="files" title="files" type="file" name="files" accept="image/*, video/*" multiple required>
        <label for="name">Opis</label>
        <textarea id="description" name="description" autocomplete="off" title="description"></textarea>
        <br>
        <button type="submit">Wyślij</button><div id = "loading"></div>
    </form>
    <div id="preview" class="preview-container"></div>
    <div id="all-uploads-container"></div>
  </div>
  <script src="static/js/files_preview.js"></script>
  <script>
    const form = document.querySelector("form");
    var latch = false;

    form.addEventListener("submit", async function (e) { 
      e.preventDefault();

      if(latch)
        return;

      latch = true;
      const formData = new FormData(form);

      try {
        const response = await fetch("/upload-media", {
          method: "POST",
          body: formData,
          credentials: 'include'
        });

        if (!response.ok) {
          throw new Error("Loading error: " + response.status);
          latch = false;
        }

        const result = await response.json();
        form.reset();
        clearPreviews()
        latch = false;
      } catch (err) {
        console.error("Error occured:", err);
        latch = false;
      }
    });

  </script>
{% endblock %}